@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Playfair+Display:wght@400;500;700&family=Raleway&family=Roboto:wght@500&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  height: 808px;
  background: #F3F3F3;
  padding-top: 80px;
}

.contact__content {
  width: 985px;
  height: 393px;
  margin: 80px auto;
}

.contact__content-block {
  width: 328px;
  height: 333px;
  background: #FFF;
  padding: 50px 40px;
  text-align: center;
  transition: 1s;
}
.contact__content-block a {
  color: #252B42;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: none;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.contact__content-logo {
  width: 72px;
  margin: auto;
  margin-bottom: 15px;
}

.contact__content-title {
  color: #252B42;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: none;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  padding: 15px;
}

.contact__content-btn {
  width: 160px;
  height: 44px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #FFA62B;
  background: #FFF;
  color: #FFA62B;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: none;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.contact__content-block:hover {
  height: 393px;
  background: #252B42;
  padding: 80px 40px;
}
.contact__content-block:hover .contact__content-title {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: none;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.contact__content-block:hover a {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: none;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.contact__content-block:hover .contact__content-btn {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: none;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  background: #252B42;
  border: 1px solid #FFF;
}/*# sourceMappingURL=get.css.map */